* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(185, 91, 91);
}
.card {
  width: 600px;
  background-color: #ccc;
  line-height: 25px;
  margin: 20px;
  padding: 20px;
}
::-webkit-scrollbar {
  background-color: rgb(204, 36, 7);
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#0852da, #038564);
  border-radius: 50px;
}
